body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container {
    text-align: center;
}

h1 {
    margin-top: 20px;
}
#loginText, #signUpText{
    text-align: center;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px; 
    
}


div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


/* CSS Forms: https://www.w3schools.com/css/css_form.asp */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"]
{
    width: 280px;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    
}

#signupbtn, #loginbtn, #logoutBtn{
    width: 300px;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: white;
    cursor: pointer;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
}

#signupbtn{
    background-color: #4caf50;
}

#loginbtn{
    background-color:#388cb1;
}

#logoutBtn{
    background-color:#b138af;
}